<div class="text-center">

<div class="authentification-form">
  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).ready(function() {
        $('.authentification-form').html("<%= j render 'teddies/authentification-form' %>");
      });
    <% end %>
  <% end %>
</div>

<div class="stage-form"></div>

</div>
