<div class="text-center">
  <h1>Congratulation !</h1>
  <p> <strong> <%= @teddy.name %></strong> is born! </p>
  <%= cl_image_tag current_user.teddy.photos.first.path, transformation: [{width: 150, height: 150, radius: 'max', crop: :fill}]%>
  <p>You will receive an email on <strong> <%= @teddy.user.email %></strong> with the very <strong>secret Key</strong> of <strong><%= @teddy.name %></strong>. </p>
  <p> Keep it preciously and share it with the traveller that allow him to add new stages at your teddy.</p>
</div>
