<div class="text-center">
  <h1>Congratulation !</h1>
  <p>Your create your teddy <%= @teddy.name %></p>
  <p>you will receive an email with the very <strong>secret key</strong> of <strong><%= @teddy.name %></strong>, keep it preciously and share it with the traveller that allow him to add new stages at your teddy.</p>
</div>
