<h1>Map</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-7">
      <h1>Cards</h1>
    </div>
    <div class="col-xs-12 col-sm-5 nopadding">
      <div id="index-map" class="wider-container">

      <% content_for(:after_js) do %>
        <%= javascript_tag do %>
          $(document).ready(function() {
            var handler = Gmaps.build('Google');
            handler.buildMap({ internal: { id: 'index-map' } }, function() {
              markers = handler.addMarkers(<%= raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              if (markers.length == 0) {
                handler.getMap().setZoom(2);
              } else if (markers.length == 1) {
                handler.getMap().setZoom(14);
              }
            });
          });
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
