<h1>Travelling Teddies</h1>

<p>Congrat ! <strong> <%= @user.teddy.name %></strong> is born !</p>
<p> He can start travelling now.</p>
<p>The rule is simple: give <strong> <%= @user.teddy.name %> </strong> to a traveller that will go with your teddy for sometime (a week or two) and share his adventures and photos on Travelling Teddies!</p>
<p> He is able to upload stories by clicking on "I'm a backpacker" on the home page: www.travelling-teddies.com and by entering the <strong> secret key</strong> of your teddy.</p>
<p>The secret key is: <strong><%= @user.teddy.code %></strong> , keep it preciously! </p>
<p>If you have any question, please contact the team on <strong> contact@travelling-teddies.com</strong>, we will be happy to help.</p>

Teddies team !


