<h1>Travelling Teddies</h1>

<p>Congrats, <strong> <%= @user.teddy.name %></strong> is born !</p>
<p> He will soon start his journey around the world. You just have to follow those two steps :</p>

<p><u><strong>1. Read carefully how it works</strong></u></p>
<p>The rule is simple: give <strong> <%= @user.teddy.name %> </strong> to a traveller that will go with your teddy for sometime (a week or two) and share his adventures and photos on Travelling Teddies!</p>
<p> He is able to upload stories by clicking on "I'm a backpacker" on the home page: www.travelling-teddies.com and by entering the <strong> secret key</strong> of your teddy.</p>
<p>The secret key is: <strong><%= @user.teddy.code %></strong> , keep it preciously! </p>

<p><u><strong>2. Share <%= @user.teddy.name %>'s story</strong></u></p>
<p>The first step of your Teddy is his home. Use the secret key and fill his first step so that we know a bit more about him, his origins and story : http://www.travelling-teddies.com/backpacker </p>

<p>If you have any question, please contact the team on <strong> contact@travelling-teddies.com</strong>, we will be happy to help.</p>

Teddies team !


