<h1>Travelling Teddies</h1>

<p>Congrat ! You create <%= @user.teddy.name %></p>
<p>The secret key is <strong> <%= @user.teddy.code %></strong> </p>
<p>welcome on Travelling Teddies ! Enjoy your time on our website !</p>

