#big-title {
  font-size: 100px;
  text-align: center;
  margin-bottom: 30px;

}

.image-center {
  margin-left: 150px;
  margin-bottom: 30px;
}

.left-part {
font-size: 20px;
line-height: 1.8;
font-weight: lighter;
  h2 {
    font-size: 40px;
  }
}

.right-part {
  font-weight: lighter;
  font-size: 17px;
  line-height: 1.6;
    h3 {
    margin-top: 40px;
  }
}
