#inputs {
  margin-left: 400px;
  margin-right: 400px;

    p {
      font-weight: lighter;
      font-size: 25px;
      margin-bottom: 25px;
      color:#958C8C;
    }
}

#enter {
  font-weight: lighter;
  font-size: 25px;
  margin-bottom: 25px;
  color:#958C8C;
}


