.followed-teddies-card {
  margin-top: 20px;
  padding: 5px 0px;
  background-color: #F2F2F2;
  border-radius: 5px;
  display: flex;
}
.followed-teddies-card:hover {
  background-color: #E4E4E4;
}
.image-follow {
  border-radius: 50%
}

.button-following {
  margin-top: 45px;
  display: flex;
  justify-content: text-center;
  background-color: #E5373C;
  border: none;
  margin: 2px;
  a {
    color: white;
    font-size: 15px;
  }
}
 .button-following:hover {
    background-color: #E5373C;
  }


.followed-teddies-info{
  margin-bottom: 30px;
}
.dasboard-my-teddy-card {
  border: solid;
  border-radius: 15px;
  padding: 5px;
  .btn {
    margin: 10px;
  }
}

.followed-teddies-actions {
  display: flex;
  margin-top: 45px;
}

.bouton-dashboard-create-teddy {
  color: white;
}
.image-teddy-dashboard {
  border-radius: 5px;
  height: 133px;
}
.link-to-stage-teddy-dashboard {
  color: black;
}
.link-to-stage-teddy-dashboard:hover {
  background-color: #E4E4E4;
  color: black;
}
