.show-teddies-row-top{
  margin: 15px 0px;
}
.show-teddies-row-top-id {
  display: flex;
  align-items: bottom;
  justify-content: space-between;
  img {
    border-radius: 50%;
    margin: 0px;
    flex: 0 0 auto;
  };
  h1 {
  font-size: 50px;
  font-weight: bolder;
  margin: 10px;
  }
  p {

  }
}

.show-teddies-row-top-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.empty-stage-menu {
  height: 40px;
}
.stage-menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.stage-menu-left {
  width: 49%;
}
.stage-menu-center {
  background-color: #ADAF83;
  width: 2px;
  margin: 0px -38px;
}
.stage-menu-right {
  width: 49%;
}
.card-teddies-show {
  width: 100%;
}
.car-teddies-title {
  display: flex;
  align-items: center;
}
.teddies-stages-title-menu{
  width: 100%;
  img {
    width: 100%;
    border-radius: 15px;
  }
}
.barre-horrizontale {
  height: 2px;
  width: 29%;
  background-color: #ADAF83;
}
.black-spot {
  height: 15px;
  width: 15px;
  background-color: #ADAF83;
  border: 3px solid white;
  border-radius: 50%;
  z-index: 1000;
}
.empty-div-meny {
  height: 130px;
}
.card-teddies-stage-description-photo {
  display: flex;
}
.card-teddies-stage-description-photo-empty {
  width: 29%;
}
.card-teddies-stage-description-photo-details {
  width: 70%
}
