.show-teddies-row-top{
  margin-top: 30px;
}

.show-teddies-row-top-id {
  border-radius: 5px 5px 0px 0px;
  background-color: rgb(240,240,240);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    border-radius: 50%;
    margin: 0px;
    flex: 0 0 auto;
  };
  h1 {
  font-size: 50px;
  font-weight: bolder;
  margin: 10px;
  };
}

.show-pic-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.show-specs {
  flex: 0.6 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: lighter;
  p {
    margin: 0px;
  };
  img {
    height: 50px;
    width: auto;
  };
}

.follow-button {
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: white;
  color: $brand-color;
  img {
    height: 40px;
    width: auto;
  };
  p {
    margin: 0px;
  };
}

.follow-button:hover{
  background-color: $brand-color;
  text-decoration: none;
  color: white;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.stage-menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.stage-menu-left {
  width: 49%;
}

.stage-menu-center {
  background-color: #ADAF83;
  width: 2px;
  margin: 0px -38px;
}

.stage-menu-right {
  width: 49%;
}

.card-teddies-show {
  width: 100%;
  margin: 20px 0px;
}

.car-teddies-title {
  display: flex;
  align-items: center;
}
.teddies-stages-title-menu{
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  img {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
  }
}
.barre-horrizontale {
  height: 2px;
  width: 29%;
  background-color: #ADAF83;
}
.black-spot {
  height: 15px;
  width: 15px;
  background-color: #ADAF83;
  border: 3px solid white;
  border-radius: 50%;
  z-index: 1000;
}
.empty-div-meny {
  height: 130px;
}

.card-teddies-stage-description {
  display: flex;
}
.card-teddies-stage-description-empty {
  width: 32%;
}
.card-teddies-stage-description-details {
  width: 100%;
  background-color: rgb(240,240,240);
  border-radius: 0px 0px 5px 5px;
}
