<div class="error-wrapper text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>500 :(</h1>
        <%= image_tag "500.png" %>
        <p>Something is scrambling our website... try again later!</p>
      </div>
    </div>
  </div>
</div>
