<h1 id="big-title">A new way to travel</h1>
<div class="image-center">
  <%= image_tag "friends.jpg"%>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 left-part">
      <h2>ABOUT US</h2>
      <p>Traveling Teddies allows you to experience a Worldtour…
      Some would say it’s impossible but thanks to a great team of teddies we did it !</p>

      <p><strong>How ?</strong> On Travelling Teddies you can follow a Teddy and a backpacker travelling around the world. They share their adventure, pictures and anecdotes on the platform !</p>
      <p>On his trip, a Teddy will meet many backpackers and will change company from times to times. This will ensure a long adventure for the teddy and always more interesting stories !</p>
    </div>
    <div class="col-xs-12 col-sm-6 right-part">
      <h3>Our mission</h3>
      <p>Children can’t wait to discover the world, they’re curious, adventurous, but they can’t always have the luck to travel. This is why we want to propose a unique experience : a travel by proxy.

      Everyone can send his teddy to follow him...you just have to follow those steps !</p>
        <h3>Why a Teddy ?</h3>
        <p>A Teddy is a sweet and adorable companion.  Because they have an humble look at the world, we love to discover the world through their eyes.
        On Travelling Teddies, there is no show off, no pretentious travelers, its’ just pure sharing.</p>
      </div>
    </div>
  </div>
</div>

<h2>The team</h2>
<%= image_tag "nico.jpeg"%>
<h3>NICO</h3>
<h4> as Paddington</h4>
<p></p>
<%= image_tag "alix.jpg"%>
<h3>ALIX</h3>
<h4>as Goldilocks</h4>
<p></p>
<%= image_tag "clement.jpg"%>
<h3>CLEMENT</h3>
<h4>as Baloo</h4>
<p></p>
