.profile-card {
  height: 300px;
  width: 350px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  margin: 15px auto;
  background-color: white;
  text-align: left;
}

.profilepic {
  background-image: url("profilepic.jpg");
  background-size: cover;
  height: 200px;
  border-radius: 5px 5px 0px 0px;
  img {
    border-radius: 5px 5px 0px 0px;
  }
}

.profile-footer{
  height: 130px;
  padding: 10px;
  position:relative;
    h2 {
      margin: 0px;
    };
    p {
      margin: 0px;
    }
}

.index-desc {
  font-weight: bolder;
  color: $gray;
}

.index-origin {
  font-weight: lighter;
}

.index-followers {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
  color: grey;
  img {
    width: 20px;
    height: auto;
  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
  border-radius: 5px;
}

.card-link:hover{
  opacity: 0.1;
  border: 2px solid rgba(174,175,122, 0.1);
}
