
.profile-card {
  height: 400px;
  width: 300px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 80px;
  border-radius: 10px;
  border: 2px solid #a8b47e;
  margin-left: 40px;
  position: relative;
}

.profile-header {
  height: 70px;
  background-color: #a8b47e;
  position: relative;
    h2 {
      position: absolute;
      bottom: 8px;
      left: 10px;
      right: 10px;
    }
}

.profilepic {
  background-image: url("profilepic.jpg");
  background-size: cover;
  height: 200px;
}

.profile-footer{
  height: 130px;

    .characters {
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 10px;
    }
}










.card {
  height: 400px;
  width: 300px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  margin-bottom: 50px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
  border: 2px solid #a8b47e;
  border-radius: 10px;

}
.card-link:hover{
  opacity: 0.1;
  border: 2px solid rgba(174,175,122, 0.1);
}
