#first-part {
  margin-top: 40px;
    h2{
      margin-bottom: 30px
    }
}

.arrow {
  color: #AEAF7A;
  opacity: 0.8;
  font-size: 40px;
}

.arrow:hover{
  color: #DC3737;
  opacity: 0.8;
}

#second-part {
  h2 {
    margin-bottom: 30px;
  }
}


.datepicker {
  margin: 30px auto;
}

#third-part {
  h2{
    margin-bottom: 30px
  }
}

.attach-form {
  margin-top: 50px;
}

.input-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 50px;
  margin-bottom: 60px;
}

.btn-save {
  width: 500px;
  margin-top: -20px;
  margin-bottom: 20px;
  font-weight: bold;
}


